[submodule "vendor/minond/debug"]
	path = vendor/minond/debug
	url = https://github.com/minond/debug
[submodule "vendor/minond/expect"]
	path = vendor/minond/expect
	url = https://github.com/minond/expect
